---
name: Rust

"on":
  push:
    branches: [main, staging, trying]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Prepare
        run: |
          mkdir -p target
          chmod 777 target
      - name: Build images
        run: |
          docker build -f base.Dockerfile -t aur-autoupdater-base .
          docker build -f tests.Dockerfile -t aur-autoupdater-tests .
      - name: Run tests
        run: |
          docker run -v $PWD:$PWD -w $PWD --rm -t aur-autoupdater-tests \
          cargo test --verbose
      - name: Release Build
        run: |
          docker run -v $PWD:$PWD -w $PWD --rm -t aur-autoupdater-tests \
          cargo build --release --verbose

      - name: Log in to the Container registry
        uses: docker/login-action@8e2a0b642a6296f5b70071b54b587ef363155acd
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: .
          push: true
          file: deploy.Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
